DATABASE_URL=postgresql://user:pass@localhost/filemarket
SECRET_KEY=secret123
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLIC_KEY=pk_test_xxx
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_S3_BUCKET=mybucket
AWS_REGION=eu-west-1
ADMIN_COMMISSION_PERCENTAGE=20
